setuptools
dill
six
paho-mqtt

# The following requirments only work on armv6l (Like a Raspberry Pi)
RPI.GPIO ; platform_machine != 'x86_64'
adafruit-blinka ; platform_machine != 'x86_64'
adafruit-circuitpython-apds9960 ; platform_machine != 'x86_64'
